<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>three.js</string>
	<key>CFBundleName</key>
	<string>three.js {{VERSION}}</string>
	<key>DashDocSetFallbackURL</key>
	<string>https://threejs.org</string>
  <key>dashIndexFilePath</key>
  <string>docs/index.html</string>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>DashDocSetKeyword</key>
	<string>three.js</string>
	<key>DashDocSetPluginKeyword</key>
	<string>three.js</string>
	<key>DashWebSearchKeyword</key>
	<string>three.js</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<true/>
</dict>
</plist>
